/* whole page defaults */
body {
  font-family: Avenir, sans-serif;
  color: black;
  background-color: white;
  max-width: auto;
}

/* header area defaults */
.top-bar {
  top: 10px;
  height: 100px;
  color: black;
  background-color: white;
  text-transform: uppercase;
}

/* top nav - positioning*/
.top-bar-section ul {
  margin-top: 10px;
}

/* top nav - default colors, font size & kerning */
.top-bar-section li:not(.has-form) a:not(.button) {
  color: black;
  background-color: white;
  font-size: 1.125em;
  letter-spacing: 100;
}

/* top nav - highlight option when selected */
.top-bar-section li:not(.has-form) a:not(.button):hover {
  font-weight: bold;
  color: black;
  background-color: white;
}

/* footer area defaults */
.footer-area {
  min-height: 100px;
  margin-top: 1%;
}

/*
// ========================================================================
// Generic element styles
// ========================================================================
*/

.color-black {
  color: black;
}

.color-white {
  color: white;
}

.color-biscuit {
  color: rgb(166, 160, 126);
}

.on-white {
  background-color: white;
}

.on-biscuit {
  background-color: rgb(166, 160, 126);
}

.on-light-green {
  background-color: rgb(116, 137, 81);
}

.on-dark-grey {
  background-color: rgb(89, 89, 89);
}

.on-light-grey {
  background-color: rgb(160, 151, 146);
}

.on-dark-green {
  background-color: rgb(96, 114, 72);
}

.semi-transparent {
  opacity: 0.8;
}

.v-align-middle {
  display: inline-block;
  vertical-align:middle;
}

.border-none {
  padding: 0;
}

.border-bottom {
  /* top right bottom left */
  padding: 0 0 20px 0;
}

.border-top-bottom {
  /* top right bottom left */
  padding: 20px 0 20px 0;
}

.border-left-right {
  /* top right bottom left */
  padding: 0px 20px 0 20px;
}

.border-left-bottom {
  /* top right bottom left */
  padding: 0 0 20px 20px;
}

.border-right {
  /* top right bottom left */
  padding: 0px 20px 0 0;
}

.border-all-sides {
  padding: 20px;
}

.font-large {
  font-size: 1.6em;
  letter-spacing: 100;
  line-height: 1.6em;
}

.font-medium {
  font-size: 1.2em;
  letter-spacing: 60;
  line-height: 1.2em;
}

.font-small {
  font-size: 1em;
  letter-spacing: 60;
  line-height: 1em;
}

.overlay {
  /* e.g. overlay text on image */
  position: absolute;
  top: 0px;
}

/*
// ========================================================================
// Specific element styles
// ========================================================================
*/

.what-block {
  text-align: center;
  /* top right bottom left */
  margin: 0px 0px 10px 10px;
  border: 0;
  padding: 15px;
  height: 150px;
  line-height: 150px;
}

.showcase-block {
  text-align: center;
  /* top right bottom left */
  margin: 10px 0px 0px 10px;
  border: 0;
  padding: 15px;
  height: 150px;
  line-height: 150px;
}

.service-caption {
  text-align: center;
  margin: 0;
  border: 0;
  padding: 15px;
  height: 150px;
  line-height: 150px;
}

.project-caption {
  text-align: center;
  margin: 0;
  border: 0;
  padding: 0px;
  height: 150px;
  line-height: 150px;
  display: none;
}

.contact-block {
  margin: 0;
  border: 0;
  padding: 15px;
  height: 150px;
  line-height: 150px;
}

.regulated-by-style {
  position: absolute;
  top: 9px;
  left: 95px;
  font-weight: normal;
  font-size: 12px;
}

.placeholder-block {
  text-align: center;
  margin: 0;
  border: 0;
  padding: 15px;
  height: 300px;
  line-height: 300px;
}

/*
// ========================================================================
// IMAGE SIZING/POSITIONING
// ========================================================================
*/

.full-width {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  max-width: initial;
}

.logo-small {
  width: 200px !important;
}

.logo-normal {
  width: 300px !important;
}

.member-icon {
  width: 80px !important;
}

.social-icon {
  width: 30px !important;
}

.map-image {
  width: 100%;
}

/* highlight projects selected image */
#project-page-images a:hover img {
    opacity: 0.3;
}

#project-page-images a:hover .project-caption {
  display: block;
}

/* highlight services selected image */
#service-page-images a:hover div {
    opacity: 0.9;
}

/* styling for contact button */
#contact-button {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    text-decoration: none;
    cursor: pointer;
    border:none;
}