/*
// ========================================================================
// whole page defaults
// ========================================================================
*/

body {
  font-family: Avenir, sans-serif;
  color: black;
  background-color: white;
  max-width: auto;
}

.full-width {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  max-width: initial;
}

.full-height {
  min-height: 550px;
}

/* top bar defaults */
.top-bar {
  height: 90px;
  color: black;
  background-color: white;
  text-transform: uppercase;
}

/* top bar mobile menu - defaults */
.top-bar .toggle-topbar a {
  margin-top: 20px;
  color: rgb(89, 89, 89);
  background-color: white;
  text-transform: uppercase;
  font-size: 1.0em;
}

/* top bar logo - positioning */
.top-bar-logo {
  top: 10px;
}

/* top bar nav - positioning */
.top-bar-section {
  margin-top: 25px;
  text-align: center;
}

/* top bar nav - font size & kerning */
.top-bar-section ul li > a {
  font-size: 0.8em;
  font-weight: 300;
}

/* top bar nav - colors */
.top-bar-section li:not(.has-form) a:not(.button) {
  color: rgb(89, 89, 89);
  background-color: white;
}

/* top bar nav - highlight option when selected */
.top-bar-section li:not(.has-form) a:not(.button):hover {
  font-weight: bold;
  color: rgb(89, 89, 89);
  background-color: white;
}

/* footer area defaults */
.footer-area {
  min-height: 100px;
  margin-top: 1%;
}

/*
// ========================================================================
// Generic element styles
// ========================================================================
*/

.color-black {
  color: black;
}

.color-white {
  color: white;
}

.on-biscuit {
  background-color: rgb(166, 160, 126);
}

.on-light-green {
  background-color: rgb(116, 137, 81);
}

.on-dark-grey {
  background-color: rgb(89, 89, 89);
}

.on-light-grey {
  background-color: rgb(160, 151, 146);
}

.on-dark-green {
  background-color: rgb(96, 114, 72);
}

.on-contact {
  background-color: rgb(121, 120, 116);
}

.semi-transparent {
  opacity: 0.9;
}

.v-align-middle {
  display: inline-block;
  vertical-align:middle;
}

.border-none {
  padding: 0;
}

.border-bottom-only {
  /* top right bottom left */
  padding: 0 0 20px 0;
}

.border-top-bottom {
  /* top right bottom left */
  padding: 20px 0 20px 0;
}

.border-top-left {
  /* top right bottom left */
  padding: 20px 0 0 20px;
}

.border-bottom-left {
  /* top right bottom left */
  padding: 0 0 20px 20px;
}

.border-right-only {
  /* top right bottom left */
  padding: 0px 20px 0 0;
}

.border-all-sides {
  padding: 20px;
}

.overlay {
  /* e.g. overlay text on image */
  position: absolute;
  top: 0px;
}

.sticky-column{
  position: fixed;
}

/*
// ========================================================================
// Specific element styles
// ========================================================================
*/

.what-block {
  text-align: center;
  /* top right bottom left */
  margin: 20px 0px 10px 10px;
  border: 0;
  padding: 15px;
  height: 150px;
  line-height: 150px;
}

.showcase-block {
  text-align: center;
  /* top right bottom left */
  margin: 10px 0px 20px 10px;
  border: 0;
  padding: 15px;
  height: 150px;
  line-height: 150px;
}

.service-caption {
  text-align: center;
  margin: 0;
  border: 0;
  padding: 15px;
  height: 150px;
  line-height: 150px;
}

.project-caption {
  text-align: center;
  margin: 0;
  border: 0;
  padding: 0px;
  height: 150px;
  line-height: 150px;
  display: none;
}

.contact-block {
  margin: 0;
  border: 0;
  padding: 15px;
  height: 150px;
  line-height: 150px;
}

.regulated-by-style {
  text-align: center;
  position: absolute;
  left: 95px;
  font-weight: normal;
  font-size: 12px;
}

.design-by-style {
  text-align: center;
  position: absolute;
  top: 9px;
  font-weight: normal;
  font-size: 12px;
}

.border-dynamic {
  padding: 20px;
}

#contact-button {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    text-decoration: none;
    cursor: pointer;
    border:none;
}

/*
// ========================================================================
// Image and logo sizing
// ========================================================================
*/

.logo-header {
  width: 250px !important;
}

#logo-index {
  width: auto;
}

.member-icon {
  width: 80px !important;
}

.social-icon {
  width: 30px !important;
}

#map-image {
  width: 100%;
}

#map-dupe {
  height: 100%;
}

/*
// ========================================================================
// Highlight image selection
// ========================================================================
*/

#project-page-images a:hover img {
    opacity: 0.3;
}

#project-page-images a:hover .project-caption {
  display: block;
}

#service-page-images a:hover div {
    opacity: 0.9;
}

/*
// ========================================================================
// Font sizing
// ========================================================================
*/

.font-dynamic {
  font-size: 1.2em;
  letter-spacing: 100;
  line-height: 1.2em;
}

.font-medium {
  font-size: 1.0em;
  letter-spacing: 1.5PX;
  word-spacing: 3PX;
}

.font-small {
  font-size: 0.9em;
  letter-spacing: 60;
}

.font-underline {
  text-decoration: underline;
}

.font-uppercase {
  text-transform: uppercase;
}

/* media queries to resize fonts for small devices */
@media only screen and (min-width: 1000px) {
  .font-dynamic { font-size: 1.1em; }
  #logo-index { height: 70px; }
}

@media only screen and (max-width: 1000px) {
  .font-dynamic { font-size: 1.0em; }
  #logo-index { height: 55px; }
}

@media only screen and (max-width: 800px) {
  .font-dynamic { font-size: 0.9em; }
  #logo-index { height: 40px; }
}

@media only screen and (max-width: 600px) {
  .font-dynamic { font-size: 1.1em; }
  #logo-index { height: 50px; }
}

@media only screen and (max-width: 400px) {
  .font-dynamic { font-size: 0.9em; }
  #logo-index { height: 30px; }
}

/*
// ========================================================================
// Element overrides for mobile
// ========================================================================
*/

@media only screen and (max-width: 650px) {
  /* top right bottom left */
  .what-block { margin: 0px 0px 20px 0px; }
  .showcase-block { margin: 0px 0px 20px 0px; }
  .sticky-column { position: initial; }
  .top-bar-section { margin-top: 0px; }
  .border-dynamic { padding-bottom: 0px; }
}
