<nav class="top-bar" data-topbar>

    <div class="small-12 columns">

        <div class="row">

            <div class="small-8 columns">
                <a href="{{ site.baseurl }}/"><img src="/imgs/arch_logo2.png" id="logo"></a>
            </div>

            <div class="small-4 columns">
                <p class="contact-style">
                    T: 01920 486050<br>
                    M: 07971 207012<br>
                    E: info@arch-bc.co.uk<br>
                    <br>
                    5 Tatlingtown, Wareside<br>
                    Hertfordshire, SG12 7RP<br>
                </p>
            </div>

        </div>

    </div>

</nav>
