<nav class="top-bar" data-topbar>

    <div class="show-for-small">
        <div class="small-12 columns">
            <a href="{{ site.baseurl }}/"><img src="/imgs/arch_logo.png" class="logo-small"></a>
        </div>
    </div>

    <div class="show-for-medium-up">
        <div class="small-8 columns">
            <a href="{{ site.baseurl }}/"><img src="/imgs/arch_logo.png" class="logo-normal"></a>
        </div>
        <div class="small-4 columns">
            <p class="contact-style text-small">
                T: 01920 486050<br>
                M: 07971 207012<br>
                E: <a href="mailto:info@arch-bc.co.uk">info@arch-bc.co.uk</a><br>
                <br>
                5 Tatlingtown, Wareside<br>
                Hertfordshire, SG12 7RP<br>
            </p>
        </div>
    </div>

</nav>
