<div class="sticky">

  <nav class="top-bar" data-topbar>

    <div class="show-for-medium-up">
        <div class="small-5 columns top-bar-logo">
            <a href="{{ site.baseurl }}/"><img src="/imgs/arch_logo.png" class="logo-normal"></a>
        </div>

        <section class="top-bar-section">
          <ul class="right">
            <li><a href="{{ site.baseurl }}/about">ABOUT</a></li>
            <li><a href="{{ site.baseurl }}/projects">PROJECTS</a></li>
            <li><a href="{{ site.baseurl }}/services">SERVICES</a></li>
            <li><a href="{{ site.baseurl }}/contact">CONTACT</a></li>
          </ul>
        </section>
    </div>

  </nav>

</div>
