---
layout: basicPage
---

<div class="small-12 columns border-dynamic">
  <p class="font-large text-center color-white uppercase">
    {{ page.title }}
  </p>
  {% for image in page.images %}
    <div class="show-for-small-only text-center">
      <img class="border-none" src="{{ image.mobile }}"/>
    </div>
    <div class="show-for-medium-up text-center">
      <img class="border-none" src="{{ image.desktop }}"/>
    </div>
    {% if forloop.first %}
      <div class="border-top-only">
        <p class="font-medium text-center color-white on-light-green">
          {{ page.desc }}
        </p>
      </div>
    {% endif %}
  {% endfor %}
</div>
