---
layout: basicPage
---

<div class="small-12 medium-5 columns border-dynamic sticky-column">
  <p class="font-medium text-left color-white uppercase">
    {{ page.title }}
  </p>
  <p class="font-small text-left color-black">
    {{ page.desc }}
  </p>
</div>

<div class="small-12 medium-7 columns border-dynamic">
  <div class="show-for-small-only">
    {% for image in page.images %}
    <img class="border-bottom-only" src="{{ image.mobile }}"/>
    {% endfor %}
  </div>
  <div class="show-for-medium-up">
    {% for image in page.images %}
    <img class="border-bottom-only" src="{{ image.desktop }}"/>
    {% endfor %}
  </div>
</div>
